$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.add-expense-row,
.expense-row {
  margin-bottom: 20px;
  margin-left: 5px;
  border-left: 15px solid $gray-lighter;
}


.add-expense-row {
  border-color: $brand-primary;
}

.expense-row {
  cursor: move;
}
