<div class="container">
  <h2>Your monthly expenses</h2>

  <!-- Model wrapper -->
  <div ui-sortable ng-model="expenses">

    <div class="row expense-row" ng-repeat="expense in expenses">
      <div class="form-group">
        <div class="col-sm-5">
          <input type="text" class="form-control" ng-model="expense.name">
        </div>
        <div class="col-sm-5">
          <div class="input-group">
            <input type="text" class="form-control" ng-model="expense.value">
            <span class="input-group-addon">zł</span>
          </div>
        </div>
        <div class="col-sm-2">
          <button class="btn btn-danger" ng-click="removeExpense($index)" aria-label="Remove">X</button>
        </div>
      </div>
    </div>

  </div>
  <!-- / Model wrapper -->

  <form role="form" ng-submit="addExpense()">
    <div class="row add-expense-row">

      <div class="col-sm-5">
        <input type="text" ng-model="expense.name" placeholder="Expense name" class="form-control">
      </div>

      <div class="col-sm-5">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="expense.value" placeholder="Cost">
          <span class="input-group-addon">zł</span>
        </div>
      </div>
 
      <div class="col-sm-2">
        <input type="submit" class="btn btn-primary" value="Add">
      </div>
    </div>
  </form>

  <div class="panel panel-default">
    <div class="panel-heading">
      Your settings
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label class="from-control col-sm-3">Working days in month:</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" ng-model="settings.workDaysInMonth">
        </div>
      </div>
    </div>
  </div>

  <h2>Your rates</h2>
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-exclamation-sign"></span>
        Minimal rates
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-2">Yearly</div>
        <div class="col-sm-2">{{rate.minimal.yearly}}</div>
      </div>
      <div class="row">
        <div class="col-sm-2">Monthly</div>
        <div class="col-sm-2">{{rate.minimal.monthly}}</div>
      </div>
      <div class="row">
        <div class="col-sm-2">Daily</div>
        <div class="col-sm-2">{{rate.minimal.daily}}</div>
      </div>
      <div class="row">
        <div class="col-sm-2">Hourly</div>
        <div class="col-sm-2">{{rate.minimal.hourly}}</div>
      </div>
    </div>
</div>


